* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
}

.main {
  margin: 5% auto auto auto;
  background-color: #F5F5F5;
  height: 70vh; /* 400 */
  max-width: 80vw;/* 800 */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.time {
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  color: purple;
}

.time > p {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
  font-size: large;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  text-align: center;
  background-color: #0B2434;
}

.new-highscore {
  color: green;
  margin: 0;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  word-spacing: 2px;
  margin-top: 0;
  text-align: center;
}

.die-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto;
  gap: 36px;
}

.die {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;

  font-weight: 600;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 4px 5px gray;
  border-radius: 4px;
  cursor: pointer;
}

.high-score {
  margin: 0px;
}
.high-score > i {
  color: red;
}
.roll-button {
  width: 35%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(102, 44, 247);
  padding: 8px;
  cursor: pointer;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}



/*
body {
 background-color: rgb(23, 41, 52);
}

.main {
  width:  90vh;
  height: 80vh;
  margin: 10vh auto 0  auto;
  background-color: rgb(231, 231, 231);
  border-radius: 3vh;
}

 .main-headline {

  padding-top: 5vh;
  text-align: center;
  margin-bottom: 0%;
  color: rgb(34, 33, 33);
}

.main h3 {
  word-spacing: 55px;
  text-align: center;
  margin: 0%;
  font-weight: 300;
  padding: 0 4vh;
}


.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}

.roll-button {
  display: block;
  margin: auto;
  width: 5rem;
  height: 2rem;
  padding: 15px;
  letter-spacing: 1vh;
  border: none;
  background: blueviolet;
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 1em 0.5em;
  color: #fff;
}

.green {
  background-color: rgb(190, 244, 109);
}

.hover-class:hover {
  cursor: pointer;
} */